<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="mysqlConnection" connectionString="server=localhost;password=starter;user id=starter;persistsecurityinfo=True;database=Starter" providerName="MySql.Data.MySqlClient;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <log4net debug="true">
    <appender name="RollingFileMonitoring" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\WebApiStarter\log.txt" />
      <!-- La valeur doit être l'un des niveaux de log. La valeur par défaut est ALL. Modifier la valeur pour limiter les messages qui sont loggés dans l'application sans tenir compte du logger qui log le message. -->
      <threshold value="ALL" />
      <!-- indique si le fichier sera écrasé (false) ou si le les logs seront écrits à la suite (true). -->
      <appendToFile value="true" />
      <!-- définit le critère suivant lequel sera renommé le fichier. -->
      <rollingStyle value="Date" />
      <!-- définit le pattern utilisé pour renommer le fichier quand le rollingStyle a la valeur Date. -->
      <datePattern value="yyyyMMdd" />
      <encoding value="utf-8" />
      <!--Formatage du message-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level||%date||%message||%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileMonitoring" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
